.disableText {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.layout-content {
  left: 240px;
  position: absolute;
  top: 55px;
  margin: 10px;
}
